# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# IDE
.vscode/
.idea/

# Raw datasets
data/*.csv
data/*.parquet

# Downloaded images
data/images/

# Generated cache
cache/index.pkl

# OS
.DS_Store
Thumbs.db